In [2]:
import pandas as pd


def dataset(x, missing=""):
    return pd.read_csv('Dataset/'+x+'.csv', sep=';', low_memory=False, na_values=missing_values).rename(str.strip, axis='columns')

missing_values = ['?']
account_data = dataset('account')
client_data = dataset('client')
disp_data = dataset('disp')
district_data = dataset('district',missing_values)


district_data.merge(client_data, left_on='code',right_on='district_id')

,code,name,region,no. of inhabitants,no. of municipalities with inhabitants < 499,no. of municipalities with inhabitants 500-1999,no. of municipalities with inhabitants 2000-9999,no. of municipalities with inhabitants >10000,no. of cities,ratio of urban inhabitants,average salary,unemploymant rate '95,unemploymant rate '96,no. of enterpreneurs per 1000 inhabitants,no. of commited crimes '95,no. of commited crimes '96,client_id,birth_number,district_id
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677.0,99107,2,450204,1
1,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677.0,99107,3,406009,1
2,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677.0,99107,22,696011,1
3,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677.0,99107,23,730529,1
4,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677.0,99107,28,450929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5364,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460.0,3590,7291,406202,77
5365,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460.0,3590,8667,675212,77
5366,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460.0,3590,10275,705125,77
5367,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460.0,3590,10276,761116,77
5368,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460.0,3590,13915,741123,77